<div class="col-sm-3 col-md-3 col-lg-3">
  <ul>
    <li class="listItem">
      <label>DATE</label>
      <p>{{date}}</p>
    </li>
    <li class="listItem">
      <label>OPEN</label>
      <p>{{open}}</p>
    </li>
    <li class="listItem">
      <label>LOW</label>
      <p>{{low}}</p>
    </li>
  </ul>
</div>

<div class="col-sm-3 col-md-3 col-lg-3">
  <ul>

    <li class="listItem">
      <label>CLOSE</label>
      <p>{{close}}</p>
    </li>
    <li class="listItem">
      <label>WAP</label>
      <p>{{wap}}</p>
    </li>
    <li class="listItem">
      <label>NO. OF SHARES</label>
      <p>{{noshares}}</p>
    </li>
  </ul>
</div>

<div class="col-sm-3 col-md-3 col-lg-3">
  <ul>
    <li class="listItem">
      <label>NO. OF TRADES</label>
      <p>{{notrades}}</p>
    </li>
    <li class="listItem">
      <label>TOTAL TURNOVER</label>
      <p>{{totalturnover}}</p>
    </li>
    <li class="listItem">
      <label>DELIVERABLE QUANTITY</label>
      <p>{{delieverquantity}}</p>
    </li>

  </ul>
</div>